/* Reset some default styles for consistency */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Set a consistent font for the entire page */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: lightblue;
    color: #fff;
    padding: 10px 0;
    font-weight: 600;
    display: block;
    align-items: center;
    position: fixed;  
    width: 100%;  
    top: 0; 
    z-index: 10000;  
    transition: background-color 0.3s ease;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Logo styles */
.logo, .logo a {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 130%;
    max-height: 90px; 
    margin-left: -10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    position: relative;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 12px 15px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #555;
}

nav .dropdown.more > a::after {
    content: ' ▼'; /* Unicode character for a small arrow */
}

/* Main content container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Sticky navigation */
.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightblue;
    z-index: 100; 
    transition: top 0.3s; 
}

/* Hero Section Styles */
.hero {
    background-image: url('bg1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    margin-top: 0;
    height: 70vh; /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-container {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: bold;
}

.hero h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #ffffff; /* Yellow color for emphasis */
}

.hero p {
    font-size: 1.2em;
    color: #ffffff; 
    margin-bottom: 30px;
}

.cta {
    display: inline-block;
    padding: 15px 25px;
    background-color: #6e8383; /* Blue color for buttons */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta + .cta {
    margin-left: 10px;
}

.cta:hover {
    background-color: #2980b9; /* Darker blue color on hover */
    transform: scale(1.1);
}


/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
    padding-right: 25px;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Close (X) icon */
.line.close {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
        padding-bottom: 10px;
    }

    .line.close:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .line.close:nth-child(2) {
        opacity: 0;
    }

    .line.close:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .close-icon {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 10px; /* Adjust the top position as needed */
        right: 20px; /* Adjust the right position as needed */
        z-index: 100;
    }

    .close-icon .line.close:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .close-icon .line.close:nth-child(2) {
        opacity: 0;
    }

    .close-icon .line.close:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: lightblue;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }

    nav.active {
        display: flex;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0;
        text-align: left;
    }

    .sticky-nav {
        background-color: lightblue;
    }
}

/* services section styles */
.services-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left; 
}

.services-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.services-container {
    max-width: 1200px;
    margin: 100px auto; 
    padding: 20px;
    text-align: left;
}
    
.service {
    margin-bottom: 40px;
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
}

.services-title {
    font-size: 40px;
}

.service h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
    text-align: left;
}

.service ul {
    list-style-type: disc;
    margin-left: 20px;
}

.service img {
    display: block;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.service {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service:hover {
    border-color: #3498db;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Services Section Styles for Mobile */
@media only screen and (max-width: 768px) {
    .services-container {
        margin: 100pxauto; /* Adjust margin for mobile */
    }

    .services-title {
        font-size: 28px; /* Adjust font size for mobile */
    }

    .service {
        width: 100%; /* Make the service items full width on mobile */
        margin-bottom: 30px; /* Adjust margin for mobile */
        box-sizing: border-box;
        padding: 15px; /* Adjust padding for mobile */
    }

    .service h3 {
        font-size: 18px; /* Adjust font size for mobile */
        margin-bottom: 8px; /* Adjust margin for mobile */
    }

    .service p {
        font-size: 14px; /* Adjust font size for mobile */
        margin-bottom: 8px; /* Adjust margin for mobile */
    }

    .service img {
        display: none; /* Hide image on mobile */
    }

    .services-title {
        font-size: 24px; /* Adjust font size for mobile */
    }
}


/* About Us Section Styles */
.about-us {
    text-align: center;
    margin: 100px auto;
    padding: 20px; 
    background-color: #fff;
}


.about-us h1 {
    font-size: 40px; 
    margin-bottom: 20px;
    color: black;
}

.about-us h2 {
    font-size: 2em; 
    margin-bottom: 15px;
    text-align: center;
    color: #555;
}

.about-subsection {
    margin-bottom: 20px; 
}

.about-subsection h2,
.about-subsection h3 {
    font-size: 1.5em; 
    margin-bottom: 10px; 
    color: #333;
}

.about-subsection p {
    color: #666;
    line-height: 1.6;
}

@media only screen and (max-width: 768px) {
    .about-us {
        margin: 100px auto; /* Further adjust margin for smaller screens */
    }

    .about-us h1 {
        font-size: 25px; /* Further adjust font size for smaller screens */
    }

    .about-us h2 {
        font-size: 1.3em; /* Further adjust font size for smaller screens */
    }

    .about-subsection {
        margin-bottom: 10px; /* Further adjust margin for smaller screens */
    }

    .about-subsection h2,
    .about-subsection h3 {
        font-size: 1.1em; /* Further adjust font size for smaller screens */
    }

    .about-subsection p {
        font-size: 0.9em; /* Further adjust font size for smaller screens */
    }
}

/* Portfolio section styles */
.portfolio {
    padding: 120px 0;
}

.folio-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.projects {
    text-align: center;
}

.projects h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #333;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    width: calc(30% - 20px);
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 20px;
    margin-left: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    background-color: #fff;
    cursor: pointer;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333;
}

.project-item p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}

.project-item:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .project-item {
        width: 80%; /* Full width for smaller screens */
        align-items: center;
    }
}



/* Blog Container section */
.blogs {
    padding: 120px 0;
    background-color: #f9f9f9;
}

.blogs h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: black;
    
}

/* Blog Container */
.blog-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Individual Blog Item */
.blog-item {
    width: 45%; 
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #ddd; 
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
}

/* Video Iframe Styling */
.blog-item iframe {
    width: 100%;
    height: 300px; 
    border: none;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Blog Title Styling */
.blog-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

/* Blog Description Styling */
.blog-item p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
}

/* Hover effect on Blog Item */
.blog-item:hover {
    transform: translateY(-5px);
}

@media only screen and (max-width: 768px) {
    .blog-item {
        width: 90%; /* Full width on smaller screens */
    }

    .blog-item iframe {
        height: 140px; /* Adjust height for smaller screens */
    }
}

/* Teams Section */
.teams {
    text-align: center;
    padding: 120px 0;
}

.teams h2{
    font-size: 40px;
    color: black;
}

.team-member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.member-card {
    width: 200px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member-avatar img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Optional: Add hover effect to member cards */
.member-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .member-card {
        width: 60%; /* Full width on smaller screens */
    }
}


/* Contact Section Styles */
.contact {
    text-align: center;
    padding: 60px; /* Combine the two padding properties */
    background: url('contact.jpg') center/cover no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-top: 100px;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}

#contact-form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.contact-heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 0%;
}

.contact p {
    color: #666;
}

/* Contact Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    position: relative; 
}

form::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    filter: blur(70px); 
    z-index: -1;
}

/* Contact Form Label Styles */
form label {
    font-size: 1.5em;
    color: #3498db;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

form label:hover {
    color: #2980b9;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #3498db;
    border-radius: 8px;
    font-size: 1.2em;
    color: #555;
    transition: border-color 0.3s ease, color 0.3s ease;
}

form input:hover,
form textarea:hover,
form input:focus,
form textarea:focus {
    border-color: #2980b9;
    color: #333;
}

form button {
    padding: 15px 30px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

form button:hover {
    background-color: #2980b9;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .contact {
        padding-top: 90px; /* Increase padding-top for mobile */
    }

    .contact-heading {
        font-size: 2em; /* Increase font-size for mobile */
    }

    form {
        width: 100%; /* Adjust the width for smaller screens */
        max-width: 400px; /* Set a maximum width for better centering */
        margin: auto; /* Center the form horizontally */
        padding: 20px; /* Increase padding for mobile */
        box-sizing: border-box; /* Include padding in the width calculation */
    }

    form input,
    form textarea {
        width: 100%; /* Make input fields take full width on smaller screens */
        padding: 12px;
        margin-bottom: 20px;
        box-sizing: border-box; /* Include padding in the width calculation */
    }

    form::before {
        filter: blur(100%); /* Increase blur for mobile */
    }
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1e2e3;
    padding: 0 15px; /* Adjust padding for mobile */
}

#footer-left .logo {
    max-width: 100%; /* Adjust as needed */
}

.social-medias {
    display: flex;
    align-items: center;
}

.social-medias a {
    margin-left: 10px; /* Add left margin for spacing between icons */
}

@media only screen and (max-width: 768px) {
    #footer-left {
        flex-direction: row; /* Arrange items in a row on mobile */
        align-items: center; /* Center items vertically on mobile */
        padding: 20px 15px; /* Adjust padding for mobile */
    }

    .social-medias {
        margin-top: 0; /* Remove top margin for spacing on mobile */
        justify-content: flex-end; /* Align icons to the right on mobile */
    }

    .social-medias a {
        margin: 0 5px; /* Adjust margin for spacing between icons on mobile */
    }

    .social-medias img {
        width: 40px; /* Adjust the width of social media icons on mobile */
        height: 40px; /* Adjust the height of social media icons on mobile */
    }
}


